<a href="https://colab.research.google.com/github/Stephen-Data-Engineer-Public/APIs_Using_python/blob/main/rail_schedule.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import requests
from IPython.display import display

api_url = 'https://api.tfl.gov.uk/StopPoint/910GLIVST/arrivals'

# Make a GET request to the API
try:
    response = requests.get(api_url)
    response.raise_for_status()  # Raise an exception for bad status codes (4xx or 5xx)
except requests.exceptions.RequestException as e:
    # Handle any request exceptions (e.g., network errors)
    print("Error fetching data:", e)
else:
    def rail():
        # Extract JSON data from the response
        json_data = response.json()

        # Define the columns you want to extract from the JSON data
        columns = {
            "id": "id",
            "operationType": "operationType",
            "vehicleId": "vehicleId",
            "naptanId": "naptanId",
            "stationName": "stationName",
            "lineId": "lineId",
            "lineName": "lineName",
            "platformName": "platformName",
            "direction": "direction",
            "destinationNaptanId": "destinationNaptanId",
            "destinationName": "destinationName",
            "timestamp": "timestamp",
            "timeToStation": "timeToStation",
            "currentLocation": "currentLocation",
            "towards": "towards",
            "expectedArrival": "expectedArrival",
            "timeToLive": "timeToLive",
            "modeName": "modeName",
        }

        # Load JSON data into a DataFrame
        dt = pd.DataFrame(json_data, columns=columns.values())

        # Display the DataFrame
        display(dt)

    rail()

,id,operationType,vehicleId,naptanId,stationName,lineId,lineName,platformName,direction,destinationNaptanId,destinationName,timestamp,timeToStation,currentLocation,towards,expectedArrival,timeToLive,modeName
0,-1087886808,1,202402047600355,910GLIVST,London Liverpool Street Rail Station,london-overground,London Overground,Platform 2,,910GLIVST,London Liverpool Street Rail Station,2024-02-05T00:10:29.3444328Z,31,,,2024-02-05T00:11:00Z,2024-02-05T00:10:13Z,overground